[Unit]
Description=ElCheapoAIS downsampler service
After=multi-user.target

[Service]
Type=simple
ExecStart=/bin/bash /usr/local/bin/elcheapoais-downsampler.sh
KillMode=process

[Install]
WantedBy=multi-user.target
