[Unit]
Description=ElCheapoAIS notifier service
After=multi-user.target

[Service]
Type=simple
ExecStart=/bin/bash /usr/local/bin/elcheapoais-notifier.sh
KillMode=process

[Install]
WantedBy=multi-user.target
